@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Smolenskij Svyatoslav<br />
    <abbr title="Phone">P:</abbr>
    8-962-778-63-60
</address>

<address>
    <strong>e-mail:</strong> <a href="mailto:smolenskij.svyat@gmail.com">smolenskij.svyat@gmail.com</a><br />
</address>
